.App {
  text-align: center;
  background-color: #101728;
 
}

.App-header {
  background-color: #282c34;
  min-height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  color: white;
}

.Titre {
 text-indent: 25px;
 font-weight: bold;
 font-size: 5vw;
 line-height: 20%;
}

.logo{
 width: 5%;
}

.App-body {
  display: flex;
  justify-content: space-around;
}

main div {
  display: inline;
}

.Text-et-boutons{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.Body-image {
  width: 25em;
  height: 25em;
  position: relative;
  left: 100px;
  display: inline;
  border-radius: 15px;
  
}

.Body-text h2 {
  color: #fffdfd;
  font-size: 50px;
  text-align: left;
  display: inline;
  word-spacing: 10px;
}

.Button-group {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.Button {
  background-color: #9b27a5;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}



.Button:hover {
  background-color: darkblue;
}
